$browser-context: 16px;

$color-background: #7E51FF;
$color-background-2: #1C1335;

$color-gold-light: #ece6d7;
$color-gold: #c0ad7a;
$color-gold-dark: #af944b;
$color-grey-ultra-light: #e0e0e0;
$color-grey-light: #888888;
$color-grey: #666666;
$color-grey-dark: #383838;
$color-white: #ffffff;
$color-black: #383838;
$color-red: #DD5757; 

